<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Introduction</title>
    </properties>

    <body>
        <section id="about" name="About">
            <p>
                This plugin splits <a href="http://www.w3.org/Style/CSS/">CSS</a> stylesheets to smaller files ("parts") which contain maximum
                <a href="split-mojo.html#maxRules">X</a> rules. It uses a <a href="http://cssparser.sourceforge.net/">CSS Parser</a> to parse
                source code.
            </p>
            <p>
                <a href="http://cssparser.sourceforge.net/">CSS Parser</a> supports following standards:
            </p>
            <ul>
                <li><a href="https://www.w3.org/Style/CSS/">Cascading Style Sheets Level 3</a></li>
                <li><a href="https://www.w3.org/TR/CSS2/">Cascading Style Sheets Level 2 Revision 1 (CSS 2.1) Specification</a></li>
                <li><a href="https://www.w3.org/TR/2008/REC-CSS2-20080411/">Cascading Style Sheets Level 2</a></li>
                <li><a href="https://www.w3.org/TR/CSS1/">Cascading Style Sheets Level 1</a></li>
            </ul>
            <p>
                For more information read the <a href="split-mojo.html">split</a> goal documentation or take a look into
                <a href="#examples">examples</a>.
            </p>
        </section>
        <section id="goals-overview" name="Goals Overview">
            <ul>
                <li>
                    <a href="split-mojo.html">css-splitter:split</a> - splits <a href="http://www.w3.org/Style/CSS/">CSS</a> stylesheets to
                    smaller files ("parts") which contain maximum <a href="split-mojo.html#maxRules">X</a> rules
                </li>
            </ul>
        </section>
        <section id="requirements" name="Requirements">
            <p>
                The plugin to run requires:
            </p>
            <ul>
                <li>Java 5.0 or higher</li>
                <li>Maven 2.0.11 or higher</li>
            </ul>
        </section>
        <section id="usage" name="Usage">
            <p>
                General instructions on how to use the ${project.name} can be found on the <a href="usage.html">usage</a> page. Some more specific
                use cases are described in the examples given below. Last but not least, users occasionally contribute additional examples, tips
                or errata to the plugin's <a href="https://github.com/gabrysbiz/css-splitter-maven-plugin/wiki">wiki</a> page.
            </p>
            <p>
                In case you still have questions regarding the plugin's usage, please have a look at the <a href="faq.html">FAQ</a>.
            </p>
            <p>
                If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in the
                <a href="issue-tracking.html">issue tracker</a>. When creating a new issue, please provide a comprehensive description of your concern.
                Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason, entire debug logs,
                POMs or most preferably little demo projects attached to the issue are very much appreciated. Of course, patches are also welcome.
                Contributors can check out the project from the <a href="source-repository.html">source repository</a> and will find supplementary information
                in the <a href="http://maven.apache.org/guides/development/guide-helping.html">guide to helping with Maven</a>.
            </p>
        </section>
        <section id="examples" name="Examples">
            <p>
                To provide you with better understanding of some usages of the ${project.name}, you can take a look into the following examples:
            </p>
            <ul>
                <li><a href="examples/patterns.html">Using include/exclude patterns</a></li>
                <li><a href="examples/multiple-directories.html">Multiple source/output directories</a></li>
                <li><a href="examples/output-file-structure.html">Output file structure (imports' tree)</a></li>
                <li><a href="examples/cache-token.html">Using cache token</a></li>
                <li><a href="examples/code-compression.html">Code compression</a></li>
            </ul>
        </section>
    </body>
</document>
